
.form-body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.form-container {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

    .form-container .form-floating:focus-within {
        z-index: 2;
    }

.form-login .current-password {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login .new-password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
